@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

#page-container{
    position: relative;
    min-height: 100vh;

}

body{
    font-family: 'Righteous', sans-serif;
}

/* header */
header{
    width: 100%;
    height: 70px;
    z-index: 1;
    border-bottom: solid #15668a 2px;
}

#logo-outer{
    width: 120px;
    height: 70px;
    margin-left: 20px;
    padding: 5px;
    float: left;
}

#logo-image{
    height: 50px;
    margin-top: 5px;
}

/* Navigation */
a{
text-decoration: none;
color: inherit;
}

#menu{
    font-size: 15px;
}

#menu li{
    float: left;
    margin-right: 30px;
    list-style-type: none;
}

#menu a{
    color:#15668a;
    text-decoration: none;
}

#menu a:hover{
    color: #229c93;
}

#menu .nav-user{
    float: right;
}

/* content for templates */
/*home*/
#banner{
    width: 100%;
    height: fit-content;
}

#hero-image{
    width: 100%;
    height: 400px;
    background: url('../images/our-pizza-hero-image.jpg') no-repeat center center;
    background-size: 100%;
}

#slogan{
    height: 70px;
    width: 100%;
    background-color: white;
    color: #eb8d8a;
    padding: 15px;
    text-align: center;
    position: relative;
}

.col-6{
    border: white solid 15px;
    padding: 25px;
    color: white;
}

#good-to-know{
    background-color: #e3463b;
    border-left: none;
}
.intro-img{
    width: 70px;
    height: 100px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#intro-img-left{
    background: url('../images/our-pizza-pepper.png') no-repeat center center;
    background-size: 100%;
}

#intro-img-right{
    background: url('../images/our-pizza-tomato.png') no-repeat center center;
    background-size: 100%;
}

#discounts{
    background-color: #229c93;
    border-right: none;

}
.image-bank-container{
    margin-bottom: 20px;
}

#image-bank{
    height: 400px;
}

.gallery-img{
    border: white solid 15px;
}
 
#gallery-1{
    background: url(../images/our-pizza-dough.jpg) center center no-repeat;
    background-size: 100%;
}
#gallery-2{
    background: url(../images/our-pizza-oven.jpg) center center no-repeat;
    background-size: 100%;
}
#gallery-3{
    background: url(../images/our-pizza-resturant.jpg) center center no-repeat;
    background-size: 100%;
}

.scroll-to-top {
    background: rgba(255,255,255, 0.8);
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    border: #15668a solid 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color: #15668a;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }
  
  
  .scroll-to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }


 .scroll-to-top.active:hover{
    color:#229c93;
    border: #229c93 solid 3px;

 }

#content{
    width: 100%;
    height: fit-content;
    padding: 20px;
}

/*bookings*/
/* forms */
.form-group{
    width: 300px;
}

.form-group button{
    background-color: #229c93;
    color: white;
    padding: 10px;
    font-size: smaller;
}

.form-group button:hover{
    background-color: #15668a;
    color: white;
    padding: 10px;
}

.new-booking{
    background-color: #229c93;
    color: white;
    padding: 10px;
    font-size: smaller;
}

.new-booking a{
    text-decoration: none;
    color: inherit;
}

.new-booking:hover{
    background-color: #15668a;
    color: white;
    padding: 10px;
}

.container-fluid{
    text-align: center;
    padding-left: 0px;
}

.col-4{
    padding-bottom: 20px;
}

.conf-booking-content{
    border: #e3463b solid 2px;
    padding: 20px;
    line-height: 10px;
}

.change-booking{
    font-size: smaller;
}

.change-booking button{
    color: grey;
    padding: 7px;
    margin: 5px;
}

.edit-booking:hover{
    color: #15668a;
}

.cancel-booking:hover{
    color: #e3463b;
}

/*contact*/
#contact-outer{
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: #229c93;
    color: white;
    text-align: center;
}

/*social media icons*/
.social-networks{
    text-align: center;
}

.social-networks  li{
    display: inline;
}

.social-networks i{
    font-size: 20px;
    margin: 1%;
    padding-right: 5%;
    color:white;
}

/* footer*/
footer{
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color:#15668a;
}

#reserves{
    color: white;
    text-align: center;
    padding-top: 15px;
}

/*Media Queries*/

@media screen and (max-width: 1030px) {
    #image-bank{
        height: 250px;
    }
}

/* For medium screens size from 770px wide and down */
@media screen and (max-width: 700px) {
    #hero-image{
        height: 250px;
    }
}

/* For small screens size from 510px wide and down */
@media screen and (max-width: 510px) {
    #menu .nav-user{
        float: left;
    }
    #menu li{
        padding-top: 10px;
    }
    #hero-image{
        background: url('../images/our-pizza-hero-image-min.jpg') no-repeat center center;
        background-size: 100%;
    }
    #gallery-1{
        background: url('../images/our-pizza-dough-min.jpg') center center no-repeat;
        background-size: 100%;
    }
    #gallery-2{
        background: url('../images/our-pizza-oven-min.jpg') center center no-repeat;
        background-size: 100%;
    }
    #gallery-3{
        background: url('../images/our-pizza-resturant-min.jpg') center center no-repeat;
        background-size: 100%;
    }
}

/* For small screens size from 480 wide and down */
@media screen and (max-width: 480px) {
    #hero-image{
        height: 200px;
    }
    .col-6{
        width: 100%;
        height: 325px;
        border: none;
        padding-bottom: 0px;
    }
    .container-fluid{
        padding: 0px;
    }
    #discounts{
        padding-top: 25px;
    }
    .image-bank-container{
        margin-bottom: 0px;
    }
    #image-bank{
        height: 120px;
    }
    p{
        font-size: smaller;
        margin-bottom: 0.5rem;
        line-height: 15px;
    }
}



