{% extends "base.html" %}

{% block content %}
<section id="content">

<h3>{{ user.get_username}}'s upcoming bookings</h3>
<br>

<div><button class="new-booking"><a href="{% url 'new-booking' %}">new booking</a></button></div>
<br>
<div class="container-fluid">
    <div class="row">
        {% for booking in booking_list %}
            {% if booking.author == user %}
                <div class="col-4">
                    <div class="conf-booking-content">
                        <p>{{ booking.reference }}</p>
                        <p>{{ booking.booking_date }}</p>
                        <p>{{ booking.booking_time }}</p>
                        <p>{{ booking.party_of }} people</p>
                        <div class="change-booking">
                            <button class="edit-booking"><a href="edit-booking/{{ booking.id }}">edit</a></button>
                            <button class="cancel-booking">cancel</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>  
</section>
{% endblock content %}