{% extends "base.html" %}

{% block head_title %}
<title>Bookings</title>
{% endblock %}

{% block content %}
<section id="content">
<h3>{{ user.get_username}}'s upcoming bookings</h3>
<br>

<div><a href="{% url 'new-booking' %}"><button class="new-booking">new booking<button></a></div>
<br>
<div class="container-fluid">
    <div class="row">
        {% for booking in booking_list %}
            {% if booking.author == user %}
                <div class="col-4">
                    <div class="conf-booking-content">
                        <p>{{ booking.reference }}</p>
                        <p>{{ booking.booking_date }}</p>
                        <p>{{ booking.booking_time }}</p>
                        <p>{{ booking.party_of }} people</p>
                        <div class="change-booking">
                            <button class="edit-booking"><a href="{% url 'edit-booking' booking.id %}">edit</a></button>
                            <button class="cancel-booking"><a href="{% url 'delete-booking' booking.id %}">cancel</a></button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>  
</section>
{% endblock content %}