{% extends "base.html" %}

{% block content %}
<title>Contact</title>
<section id="content">
<br>
    <div id="contact-outer">
        <br>
        <h3>contact</h3>
        <p>phone: 01235 235 166</p>
        <br>
        <p> find us on:</p>
        <ul class="social-networks" aria-label="social media links">
            <li>
                <a href="https://www.facebook.com/" target=_blank rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.twitter.com/" target=_blank rel="noopener"
                aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa-brands fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target=_blank rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram-square"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target=_blank rel="noopener"
                aria-label="Visit our Youtube page (opens in a new tab)"><i class="fa-brands fa-youtube"></i></a>
            </li>
         </ul>
        </div>
    </div>

</section>
<script src="https://kit.fontawesome.com/36d16e249a.js" crossorigin="anonymous"></script>

{% endblock content %}